@mixin breakPoint($breakpoint){
    @if($breakpoint==tablette){
        @media screen and (max-width:850px){
            @content;
        }
    }
    @if($breakpoint==phone){
        @media screen and (max-width:550px){
            @content;
        }
    }
}
@mixin responsivePadding{
    padding: 5rem 10rem;
    @include breakPoint(tablette){
        padding: 2rem 4rem;
    }
    @include breakPoint(phone){
        padding: 1rem;
    }
}
main{
    position: relative;
    min-height: 80vh;
    width: 100%;
}